$primary-color: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
$secondary-color: #00f3bb;
$tertiary-color: linear-gradient(90deg, #00f3bb, #0000ff);
$font-color: #060A24;
$back-color: #0000EC;
$subtitle-color: white;
$bg-skew:linear-gradient(225deg, #0000FF 0%, #0000A3 100%);

$title-font: 'IBM Plex Sans', sans-serif;
$paragraph-font: 'IBM Plex Mono', monospace;